<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Date</title>
    <style>
      body {
        font-family: Thonburi, Leelawadee, sans-serif;
        font-size: large;
      }
    </style>
  </head>
  <body>
    <form method="post">
      {% csrf_token %}
      <label for="name">Product Name:</label><br />
      <input type="text" name="name" value="{{product.name}}"/> <br />
      <lable for="price">Price</lable> <br />
      <input type="number" name="price" step="0.01" value="{{product.price}}"/><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
