<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color: rgb(0, 0, 0);">สวัสดีครับ, {{name}}</h1>
    <h2 style="color: rgb(0, 0, 0);">คุณอายุ {{age}} ปี</h2>
    <div style="color: rgb(0, 0, 0);">
        {% if age >= 40 %}
        คุณแก่แล้ว
        {% else %}
        คุณยังไม่แก่
        {% endif %}
    </div>
    <p><a href="db">View Database</a></p>
</body>
</html>